<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="WindowsAzureEndPoint" address="https://management.core.windows.net" binding="webHttpBinding" bindingConfiguration="WindowsAzureServiceManagement_WebHttpBinding" contract="Microsoft.Samples.WindowsAzure.ServiceManagement.IServiceManagement"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- You have to install the .pvx file and pass in the .cer file in the UI.-->
    <!--<add key="CheckServerCertificate" value="true" />-->
    <!-- Insert your subscriptionId as shown by the Windows Azure developer portal -->
   <add key="SubscriptionID" value="93bc7767-946f-4524-b3bf-0d188a65863f"/>
    <!-- Insert your certificate thumbprint without spaces -->
  <!--  <add key="CertificateFilePath" value="proazure.cloudapp.net.cer"/>-->
    <add key="CertificateThumbprint" value="ad2d6e79df99f3c5a55cd98fdbd7db92f91be4a7"/>
    <!--<add key="DataConnectionString" value="UseDevelopmentStorage=true" />-->
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=silverliningstorage1;AccountKey=ZXdXkdkUa7EMxoTygmbC8CV9keMxWrBOQaFCfYHNZYj8DX56y0DofQaC3DmgCGf049C/SgEnhapWoTjT1/zXPA=="/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
