<?xml version="1.0" encoding="utf-8" ?>
<!-- Replace proazure with your own solution name-->

<configuration>

  <system.serviceModel>

    <bindings>
      <netOnewayRelayBinding>
        <binding name = "OnewayMessageSecurity">
          <security mode = "Message">
            <message clientCredentialType = "None"/>
          </security>
        </binding>
      </netOnewayRelayBinding>

    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name = "ServiceCertificate">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="ISSUER_NAME" issuerSecret="ISSUER_SECRET" />
            </clientCredentials>
          </transportClientEndpointBehavior>
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <add targetUri = "sb://proazure.servicebus.windows.net/OnewayEnergyServiceOperations/"
                   findValue     = "TempCA"
                   storeLocation = "LocalMachine"
                   storeName     = "My"
                   x509FindType  = "FindBySubjectName"
                        />
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!-- Application Endpoint -->
      <endpoint name="RelayEndpoint"
                contract="EnergyServiceContract.IOnewayEnergyServiceOperations"
                binding="netOnewayRelayBinding"
                bindingConfiguration="OnewayMessageSecurity"
                address="sb://proazure.servicebus.windows.net/OnewayEnergyServiceOperations/"
                behaviorConfiguration = "ServiceCertificate"
                >
        <identity>
          <dns value = "TempCA"/>
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>