<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Storage settings - project name and shared (primary) key of your Azure Storage project, used to hold user profile information -->
  
     <add key="StorageAccountConnectionString" value="UseDevelopmentStorage=true" />
  <!--  <add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=silverliningstorage1;AccountKey=ZXdXkdkUa7EMxoTygmbC8CV9keMxWrBOQaFCfYHNZYj8DX56y0DofQaC3DmgCGf049C/SgEnhapWoTjT1/zXPA==" /> -->
    <!-- If UseRoleConfigurationSetting is false, or you are not running in an Azure environment, configure the settings below -->
    <add key="LocalStorageAccountName" value="devstoreaccount1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>