<?xml version="1.0"?>
<!-- Replace proazure with your own solution name-->
<configuration>
	<system.serviceModel>
		<bindings>
			<!-- Application Binding -->
			<netEventRelayBinding>
				<binding name="default">
					<!--  <security mode="None" relayClientAuthenticationType="None" />-->

				</binding>
			</netEventRelayBinding>
			
		</bindings>
    
		<services>
			<service name="EnergyServiceContract.MulticastGatewayOperations">
				<endpoint address="" binding="netEventRelayBinding" bindingConfiguration="default" name="RelayMulticastEndpoint" contract="EnergyServiceContract.IMulticastGatewayOperations"/>
			</service>
		</services>

	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
