<?xml version="1.0" encoding="utf-8" ?>
<!-- Replace proazure with your own solution name-->

<configuration>
  <system.serviceModel>
    <bindings>
      <!-- Application Binding -->
      <netEventRelayBinding>
        <binding name="default" >
          <!--  <security mode="None" relayClientAuthenticationType="None" />-->

        </binding>
      </netEventRelayBinding>

    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name = "RelayCertificate">
          <transportClientEndpointBehavior credentialType = "X509Certificate">
            <clientCredentials>
              <clientCertificate
                 findValue     = "TempCA"
                 storeLocation = "LocalMachine"
                 storeName     = "My"
                 x509FindType  = "FindBySubjectName"
                     />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="EnergyServiceContract.MulticastGatewayOperations">
        <endpoint address="sb://proazure.servicebus.windows.net/Gateway/MulticastService/"
				   binding="netEventRelayBinding"
					 bindingConfiguration="default"
				   name="RelayMulticastEndpoint"
					 contract="EnergyServiceContract.IMulticastGatewayOperations"
           behaviorConfiguration = "RelayCertificate" />
      </service>
    </services>

  </system.serviceModel>
</configuration>