<?xml version="1.0" encoding="utf-8" ?>
<!-- Replace proazure with your own solution name-->

<configuration>
  <system.serviceModel>
    

    <bindings>
      <!-- Application Binding -->
		<netEventRelayBinding>
        <binding name = "OnewayMessageSecurity">
          <security mode = "Message">
            <message clientCredentialType = "None"/>
          </security>
        </binding>
      </netEventRelayBinding>
     
    </bindings>
    <!--Configure certificate for message security-->
    <behaviors>
      <serviceBehaviors>
        <behavior name = "CertificateProtection">
          <serviceCredentials>
            <serviceCertificate
               findValue     = "TempCA"
               storeLocation = "LocalMachine"
               storeName     = "My"
               x509FindType  = "FindBySubjectName"
                  />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name = "RelayCertificate">
          <transportClientEndpointBehavior credentialType = "X509Certificate">
            <clientCredentials>
              <clientCertificate
                 findValue     = "TempCA"
                 storeLocation = "LocalMachine"
                 storeName     = "My"
                 x509FindType  = "FindBySubjectName"
                     />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <services>
      <service name="EnergyServiceContract.MulticastGatewayOperations" 
               behaviorConfiguration = "CertificateProtection">
        <endpoint address="sb://proazure.servicebus.windows.net/Gateway/MulticastService/"
           binding="netEventRelayBinding"
           bindingConfiguration="OnewayMessageSecurity"
           name="RelayMulticastEndpoint"
           contract="EnergyServiceContract.IMulticastGatewayOperations"
           behaviorConfiguration = "RelayCertificate"/>
        
      </service>
    </services>

  </system.serviceModel>
</configuration>