<?xml version="1.0" encoding="utf-8" ?>
<!-- Replace proazure with your own service namespace-->

<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!--Configure certificate for service identity-->

        <behavior name = "CertificateProtection">
          <serviceCredentials>
            <serviceCertificate
               findValue     = "TempCA"
               storeLocation = "LocalMachine"
               storeName     = "My"
               x509FindType  = "FindBySubjectName"
                  />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretEndpointBehavior">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="ISSUER_NAME" issuerSecret="ISSUER_SECRET" />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <!-- Application Binding -->
      <netOnewayRelayBinding>
        <binding name = "OnewayMessageSecurity">
          <security mode = "Message">
            <message clientCredentialType = "None"/>
          </security>
        </binding>
      </netOnewayRelayBinding>
     
    </bindings>
    
    
    <services>
      <service name="EnergyServiceContract.OnewayEnergyServiceOperations" 
               behaviorConfiguration = "CertificateProtection">
        <endpoint address="sb://{your service namespace}.servicebus.windows.net/OnewayEnergyServiceOperations/"
           binding="netOnewayRelayBinding"
           bindingConfiguration="OnewayMessageSecurity"
           name="RelayEndpoint"
           contract="EnergyServiceContract.IOnewayEnergyServiceOperations" 
           behaviorConfiguration="sharedSecretEndpointBehavior" />
        
      </service>
    </services>

  </system.serviceModel>
</configuration>