<?xml version="1.0" encoding="utf-8" ?>
<!-- Replace proazure with your own solution name-->

<configuration>
  <system.serviceModel>

    
    <bindings>
      <!-- Application Binding -->
      <netOnewayRelayBinding>
        <binding name = "OnewayMessageSecurity">
          <security mode = "Transport">
          </security>
     <!-- <security mode = "TransportWithMessageCredentials">
              <message clientCredentialType = "None"/>
          </security>-->
        </binding>
      </netOnewayRelayBinding>

    </bindings>
    <!--Uncomment for TransportWithMessageCredentials -->
   <!-- <behaviors>
      <serviceBehaviors>
        <behavior name = "CertificateProtection">
          <serviceCredentials>
            <serviceCertificate
               findValue     = "TempCA"
               storeLocation = "LocalMachine"
               storeName     = "My"
               x509FindType  = "FindBySubjectName"
                  />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->

    <services>
      <service name="EnergyServiceContract.OnewayEnergyServiceOperations" behaviorConfiguration = "CertificateProtection">
        <endpoint address="sb://proazure.servicebus.windows.net/OnewayEnergyServiceOperations/"
           binding="netOnewayRelayBinding"
           bindingConfiguration="OnewayMessageSecurity"
           name="RelayEndpoint"
           contract="EnergyServiceContract.IOnewayEnergyServiceOperations" />

      </service>
    </services>

  </system.serviceModel>
</configuration>