<?xml version="1.0" encoding="utf-8" ?>
<!-- Replace proazure with your own solution name-->

<configuration>

  <system.serviceModel>

    <bindings>
      <netOnewayRelayBinding>
        <binding name = "OnewayMessageSecurity">
          <security mode = "Message">
            <message clientCredentialType = "None"/>
          </security>
        </binding>
      </netOnewayRelayBinding>

		<netEventRelayBinding>
			<binding name = "OnewayMessageSecurity">
				<security mode = "Message">
					<message clientCredentialType = "None"/>
				</security>
			</binding>
		</netEventRelayBinding>

		<netTcpRelayBinding>
			<binding name="default" connectionMode="Hybrid">
				<security mode="None" />
			</binding>
		</netTcpRelayBinding>
		<wsHttpRelayBinding>
			<binding name="default">
				<security mode="None" relayClientAuthenticationType="None" />
			</binding>
		</wsHttpRelayBinding>
		
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name = "ServiceCertificate">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <add targetUri = "sb://proazure.servicebus.windows.net/OnewayEnergyServiceOperations/"
                   findValue     = "TempCA"
                   storeLocation = "LocalMachine"
                   storeName     = "My"
                   x509FindType  = "FindBySubjectName"
                        />
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
	  
    <client>
      <!-- Application Endpoint -->
      <endpoint name="RelayEndpoint"
                contract="EnergyServiceContract.IOnewayEnergyServiceOperations"
                binding="netOnewayRelayBinding"
                bindingConfiguration="OnewayMessageSecurity"
                address="sb://proazure.servicebus.windows.net/OnewayEnergyServiceOperations/"
                behaviorConfiguration = "ServiceCertificate"
                >
        <identity>
          <dns value = "TempCA"/>
        </identity>
      </endpoint>
		<!-- NetEventRelay-->
		<endpoint name="RelayMulticastEndpoint"
				  contract="EnergyServiceContract.IMulticastGatewayOperations"
				  binding="netEventRelayBinding"
				  bindingConfiguration="OnewayMessageSecurity"
				  address="sb://proazure.servicebus.windows.net/Gateway/MulticastService/" >
			<identity>
				<dns value = "TempCA"/>
			</identity>
		</endpoint>
    </client>

	  <services>
		  <!-- Application Service -->
		  <service name="NetEventRelayGateway.EnergyManagementDevice">
			  <endpoint name="RelayTcpEndpoint"
						contract="EnergyServiceContract.IEnergyServiceGatewayOperations"
						binding="netTcpRelayBinding"
						bindingConfiguration="default"
						address="" />
			  <!-- <endpoint name="RelayTcpEndpoint"
				 contract="EnergyServiceContract.IEnergyServiceGatewayOperations"
				 binding="wsHttpRelayBinding"
				 bindingConfiguration="default"
				 address="" />-->

		  </service>
	  </services>
  </system.serviceModel>
</configuration>