<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <bindings>

      <netOnewayRelayBinding>
        <binding name="default" />
      </netOnewayRelayBinding>
      <netEventRelayBinding>
        <binding name="default" />
      </netEventRelayBinding>
      <netTcpRelayBinding>
        <binding name="default" connectionMode="Hybrid">
          <security mode="None" />
        </binding>
      </netTcpRelayBinding>
		<wsHttpRelayBinding>
			<binding name="default">
				<security mode="None" relayClientAuthenticationType="None" />
			</binding>
		</wsHttpRelayBinding>
    </bindings>


    <client>
      <!-- Application Endpoint -->
      <!--NetOneWay-->
      <endpoint name="RelayEndpoint"
                contract="EnergyServiceContract.IOnewayEnergyServiceOperations"
                binding="netOnewayRelayBinding"
                bindingConfiguration="default"
                address="http://AddressToBeReplacedInCode/" />
      <!-- NetEventRelay-->
      <endpoint name="RelayMulticastEndpoint"
                contract="EnergyServiceContract.IMulticastGatewayOperations"
                binding="netEventRelayBinding"
                bindingConfiguration="default"
                address="http://AddressToBeReplacedInCode/" />
    </client>

    <services>
      <!-- Application Service -->
      <service name="NetEventRelayGateway.EnergyManagementDevice">
        <endpoint name="RelayTcpEndpoint"
                  contract="EnergyServiceContract.IEnergyServiceGatewayOperations"
                  binding="netTcpRelayBinding"
                  bindingConfiguration="default"
                  address="" />
		 <!-- <endpoint name="RelayTcpEndpoint"
				 contract="EnergyServiceContract.IEnergyServiceGatewayOperations"
				 binding="wsHttpRelayBinding"
				 bindingConfiguration="default"
				 address="" />-->
		  
      </service>
    </services>
  </system.serviceModel>
</configuration>