<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name = "DemResServerEndpoint"
         address  = "sb://proazure/servicebus.windows.net/DemRes/Server"
         binding  = "netTcpRelayBinding"
         contract = "IDemResOperations"
         />
    </client>
  </system.serviceModel>
</configuration>