<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SelfSTSSettings" type="Microsoft.Samples.DPE.SelfSTS.SelfSTSSection, SelfSTS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>   
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <SelfSTSSettings port="8000"
                   signingcertificate="SelfSTS.pfx"
                   signingcertificatepassword="Passw0rd!"
                   issuername="SelfSTS1">
    <claims>
      <clear />
        <add type="http://selfsts1.com/claims/emailaddress" displayname="Email Address" value="Joe.Doe@selfsts1.com" />
        <add type="http://selfsts1.com/claims/name" displayname="Name" value="joe" />
        <add type="http://selfsts1.com/claims/Group" displayname="Group" value="Administrators" />
    </claims>
  </SelfSTSSettings>

  <microsoft.identityModel>
    <service>
      <securityTokenHandlers>
        <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add type="Microsoft.Samples.DPE.SelfSTS.CustomUserNameSecurityTokenHandler, SelfSTS"/>
      </securityTokenHandlers>
    </service>
  </microsoft.identityModel>

</configuration>