<?xml version="1.0"?>
<configuration>
	<system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretClientCredentials">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="owner" issuerSecret="wJBJaobUmarWn6kqv7QpaaRh3ttNVr3w1OjiotVEOL4="/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
		<bindings>
			<!-- Application Binding -->
			<netTcpRelayBinding>
				<binding name="default" connectionMode="Hybrid">
				<security mode="None"/>
				</binding>
			</netTcpRelayBinding>
		<ws2007HttpRelayBinding>
				<binding name="default">
					<security mode="None"/>
				</binding>
			</ws2007HttpRelayBinding>
		</bindings>

		<client>
			<!-- Application Endpoint -->
			<endpoint name="RelayTcpEndpoint" contract="EnergyServiceContract.IEnergyServiceGatewayOperations" binding="netTcpRelayBinding" bindingConfiguration="default" behaviorConfiguration="sharedSecretClientCredentials" address="http://AddressToBeReplacedInCode/"/>
		<!--	<endpoint name="RelayTcpEndpoint"
					  contract="EnergyServiceContract.IEnergyServiceGatewayOperations"
					  binding="ws2007HttpRelayBinding"
					  bindingConfiguration="default"
					  address="http://AddressToBeReplacedInCode/" /> -->
		</client>

	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
