<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- Insert your subscriptionId as shown by the Windows Azure developer portal -->
    <add key="csmanage.exe" value="csmanage.exe"/>
    <!-- Insert your certificate thumbprint without spaces -->
    <add key="CertificateFilePath" value="proazureservicemgmt.cer"/>
  </appSettings>
</configuration>
